

body{
    font-family: 'Inter', sans-serif;
}

.wrapper{
    padding-bottom: 4rem;
}

.footer{
    flex-shrink: 0;
    padding-bottom: 3rem;
}

body {
    display: flex;
    flex-direction: column;
  }

.wrapper {
flex: 1 0 auto;
}

.footer .credits{
    margin-top: 20px;
}

.project-image{
    transition: all 0.2s ease-in-out;
}

a.navbar-item{
    color: black;
    font-size: 16px;
    font-weight: 600;
    transition: all 0.2s ease-in-out;
}

a.navbar-item:hover{
    color: black;
}

.credits{
    display: inline-flex
}

.credit.icon{
    margin-right: 10px;
}

.credit.text{
    margin-top: 2px;
}

.credit.text p{
    margin-top: 10px
}

.navbar-menu{
    box-shadow: none!important;
}

.project-image:hover{
    transform: scale(1.015);
}

#blank .div{
    height: 4000px;
}

.sidebar{
    text-align: right;
}



article.project:not(:last-child) {
    padding-bottom: 12rem;
}



.post-grid .field.is-grouped{
justify-content: center;
}

.tag a{
    color: #363636;
}


.tag.is-active.is-delete:hover{
    background-color: #000;
}

.tag.is-active:hover{
    color: #222;
}

.tag.is-active{
    background-color: #222;
    color: #fff;
}



.post-grid .tag{
    transition: all 0.3s ease-in-out;
}


.post-grid .field.is-grouped{
    justify-content: center;
}

.project-info .tag a{
    color: #363636;
}

.sidebar .title{
    margin-bottom: 0;
}
@media only screen and (min-width: 1023px) {
    .sidebar{
        float: unset;
    }
}

.page-header .title{
    margin-bottom: 0.3rem;
    font-size: 1.5rem;
}


:root {
    --am-block-max-width: 900px;
    --am-block-margin-top: 2em;
    --am-container-padding: 32px;
    --am-flex-gap: 2rem;
    --am-flex-min-block-width: 0;
}


.am-block p a {
    color: #000;
    position: relative;
    text-decoration: none;
    }
    
    .am-block p a:hover{
color: #000;
}
.am-block p a::before {
content: '';
position: absolute;
width: 100%;
height: 3px;
border-radius: 5px;
background-color: #000;
bottom: 0;
left: 0;
transform-origin: right;
transform: scaleX(0);
transition: transform .3s ease-in-out;
}

.am-block p a:hover::before {
transform-origin: left;
transform: scaleX(1);
}
    


.am-gallery-masonry{
 grid-auto-rows: unset;
}

.caption{
    font-size: 12px;
    line-height: 1.1;
    margin-top: 5px;
}

.project .tags{
    margin-bottom: 0;
}

p{
    line-height: 1.4;
}

.project.info p{
    margin-bottom: 1rem;
}


.project.info .title:hover{
    cursor: pointer !important
}
.project.info .title a{
    color: black;
}



#intro #introduction{
    margin-bottom: 0;
}

#intro .hero-body{
    padding-bottom: 0;
}
#intro{
    padding: 3rem 0 0 0;
}

#name span{
    font-size: 8vw;
    letter-spacing: -0.2vw;
    font-weight: 800;
    cursor:default;
}

.page-header{
    position: sticky;
    top: 125;
    text-align: left;
}

.project-page.container{
    padding-top: 3rem;
}

.grid-sizer, .grid-item{
    width: 33.333%;
}

.navbar-brand a{
    color: #121212;
}

.navbar-brand a:hover{
    color: black;
}

.navbar-brand a span{
font-weight: 800;
font-size: 1.5rem;
}

.title{
    color: black;
}

#name{
    position: relative;
}

am-img img{
    max-height: 800px;
}

.letter{
    display: inline-block;
    visibility: hidden;
}

.ratio-box {
	position: relative;
	height: 0;
	display: block;
	width: 100%;
}

.arrow{
    float: right;
    transition: all 0.2s ease-in-out;
    width: 20%
}

.project-info .tag a{
    transition: 100ms;
    transition-timing-function: ease-in-out;
    transform: scale(105%);
}

.project-info .tag, .project-info .tags{
    cursor: default;
}

.project-info .title *{
    cursor: pointer;
}
.navbar-brand span{
    font-weight: 800;
}

.navigation{
width: 100%;
}
.navigation ul li{
display: inline;
padding: 0 1rem;
}

.navigation a{
color: black;
font-size: 20px;
font-weight: 600;
}



.link {
color: #000;
position: relative;
text-decoration: none;
}

.link:hover{
color: #000;
}
.link::before {
content: '';
position: absolute;
width: 100%;
height: 3px;
border-radius: 5px;
background-color: #000;
bottom: 0;
left: 0;
transform-origin: right;
transform: scaleX(0);
transition: transform .3s ease-in-out;
}

.link:hover::before {
transform-origin: left;
transform: scaleX(1);
}

#sidebar .link:hover::before{
    height: 1px;
    border-radius: 1px;
}

.filters{
    padding-bottom: 2rem;
}

.navbar-brand .title{
font-size: 24px;
font-weight: 800;
}

.navbar-burger{
float: right;
}

.sidebar .title{
font-size: 1.5rem;
}


.project-page .content a{
color: #000;
position: relative;
text-decoration: none;
}

.project-page .content a:hover{
color: #000;
}
.project-page .content a::before {
content: '';
position: absolute;
width: 100%;
height: 3px;
border-radius: 5px;
background-color: #000;
bottom: 0;
left: 0;
transform-origin: right;
transform: scaleX(0);
transition: transform .3s ease-in-out;
}

.project-page .content a:hover::before {
transform-origin: left;
transform: scaleX(1);
}


.project-container{
    line-height: 0px;
    transition: all 0.2s ease-in-out;
    z-index: 1;
    margin: 1rem;
}

div.project-info .title{
    font-size: 1.2rem;
}

.project-thumbnail{
    width: 100%;
    background-color: #fff;
    border-radius: 1rem;
}

.project-info{
    visibility: visible;
    width: 100%;
    transition: all 0.2s ease-in-out;
    padding-top: 1rem;
}

.project-container{
    position: relative;
}

.project-info-container{
    background-color: none;
}

.project-info{
    background-color: #fff;
}



.gallery img{
    transition: all 0.2s ease-in-out;
}

.gallery img:hover{
    transform: scale(101%);
}

.title a{
    color: black;
}

.project-info .title{
    margin-bottom: 0.5rem;
}

.project.info .title{
    margin-bottom: 10px;
}

article{
    line-height: 0px;
}

figcaption{
    font-size: 12px;
    line-height: 1.1;
}

.contact.section, .about.section{
    text-align: center;
}

.about .content.section{
    max-width: 600px;
    text-align: center;
    margin: 0 auto;
}

.form{
    max-width: 600px!important;
    margin: 0 auto;
}

  @media only screen and (max-width: 1023px) {
    .sidebar .title{
        font-size: 1.3rem;
    }
    .sidebar{
        float: left;
    }
    .grid-sizer, .grid-item{
        width: 50%;
    }
    .navbar{
        min-height: 4.5rem;
    }
    .navbar-burger{
        height: 4.5rem;
    }
    a.navbar-item{
        font-weight: unset;
        padding-right: 1rem;
    }
    .navbar-menu{
        background-color: rgb(250,250,250)
    }
    .navbar-end{
        text-align: right;
    }
}




@media only screen and (max-width: 768px) {
    .sidebar{
        float: unset;
        text-align: center;
        padding: 0;
        border-style: none;
        height: 75px;
    }
    .sidebarColumn{
        position: sticky;
        top: 0;
        background-color: #fff;
        z-index: 9999;
        height: 75px;
        margin: auto;

    }
    article.project:not(:last-child){
        padding: 0;
    }
    p{
        font-size: 16px;
    }
    .project.info{
        padding-right: 0;
        position: unset;
    }
    .project.info .title{
        margin-bottom: 0;
    }
    #name span{
        font-size: 10vw;
    }
    #introduction{
        font-size: 18px;
    }
    #intro{
        padding-top: 1.5rem;
    }
    #subhead{
        font-size: 1rem;
    }
    .navigation a{
        font-size: 16px;
    }
    .navigation ul li a::before{
        height: 2px;
        border-radius: 2px;
    }
    .gallery figure:not(:first-child){
        display: none;
    }

    .project-info{
        top: 100%;
        opacity: 1;
        visibility: visible;
        position: relative;
        padding: .5rem 0 0 0;
    }
    .project-info .title{
        font-size: 1rem;
    }
    .project-info-container{
        display: none;
    }
    .project-container{
        margin: 0.5rem;
    }
    .tags{
        display: none;
    }
    .post-grid-container.section{
        padding: 2rem 0.5rem;
    }
    .project-page.container{
        padding: 2rem 1rem 0;
    }
    .project-page .section{
        padding: 0;
    }
}